html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #b1c7ba;
  background-image: url("cland.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #000000;
}
h2{
  font-family: 'Bodoni Moda', serif;;
  color: #e52f86;
  font-weight: 500;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-control{
  background-color: #b1c7ba;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  border-radius: 0;
}
.btn{
  background-color:#e52f86;
  color:#ffb7cd;
}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
